<div class='row margin-top'>
  <div class='col-xs-12'>
    <%= simple_form_for film_checkout, url: return_film_film_path, method: :patch do |f| %>
      <div class='form-group'>
        <%= f.submit "Return Film", class: "btn btn-primary btn-sm"%>
      </div>
    <%end%>
  </div>
</div>
